body {
  background-color: pink !important;
}
.header {
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}
.main {
  text-align: center;
  position: relative;
  height: 100%;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
